* {
    font-family: "Montserrat", sans-serif;
    /* border: 2px solid red; */
}

body {
    display: grid;
    grid-template-rows: 0.5fr 7fr 0.5fr;
    margin: 0;
    min-height: 100vh;
}

main {
    background-image: url(./images/background.jpeg);
    background-repeat: repeat-x;
    background-size: cover;
    padding: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

header {
    padding-left: 15px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.3);
}

.icon {
    width: 40px;
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add, main h1 {
    text-align: center;
    color: white;
}

.add {
    font-size: 1.5rem;
    cursor: pointer;
}

.add-container {
    text-align: center;
}

.add:hover {
    color: rgb(212, 208, 208);
}

main h1 {
    font-size: 3rem;
}

/* card styles start here */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20%));
    gap: 35px;
}

.card {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 2px 2px 5px blue, -2px -2px 5px red;
}

.card-read, .card-remove, .card-notRead {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.card-remove {
    background-color: lightgrey;
}

.card-remove:hover {
    background-color: rgb(187, 185, 185);
}

/* card read styles (depend on whether read or not) */

/* not read styles: */

/* read styles */

.card-read {
    background-color: lightgreen;
}

.card-read:hover {
    background-color: rgb(113, 223, 113);
}

.card-notRead {
    background-color: rgb(252, 148, 148);
}

.card-notRead:hover {
    background-color: rgb(247, 125, 125);
}
/* card styles end here */

dialog {
    background-color:rgb(206, 185, 159);
    border-radius: 10px;
}

.content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: bisque;
    padding: 20px;
}

::backdrop {
    opacity: 0.5;
}

.content h2 {
    text-decoration: black dotted underline;
}

.content p {
    margin: 0;
}

.read {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

button[type="submit"] {
    color: white;
    background-color: rgb(46, 137, 106);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: rgb(59, 172, 134);
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input:focus {
    outline: none;
}


.forms input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}

::placeholder {
    color: rgb(83, 82, 82);
    font-size: 1rem;
    opacity: 1; /* Firefox */
  }

  .read-checkbox {
    width: 1.15rem;
    height: 1.15rem;
  }